<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-US-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Nick Quinn</title>
    <link href="{{ 'assets/style/base.scss' | hashed }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;700&display=swap" rel="stylesheet">
    <meta name="author" content="Nick Quinn">
    <meta name="description" content="{{ description or renderData.description | escape }}" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta property="og:title" content="{{ title or renderData.title or metadata.title | escape }}"/>
    <meta property="og:url" content="{{ page.url | escape }}" />
    <meta property="og:description" content="{{ description or renderData.description | escape }}" />
    <meta property="og:image" content="/favicon/apple-touch-icon.png" />
    <meta property="og:type" content="article" />

    {# <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jllord" />
    <meta name="twitter:creator" content="@jllord" /> #}

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      if(localStorage.getItem("consentMode") === null) {
        gtag('consent', 'default', {
          'ad_storage': 'denied',
          'analytics_storage': 'denied'
        });
      } else {
        gtag("consent", "default", JSON.parse(localStorage.getItem("consentMode")));
      }
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M98D584C');</script>
    <!-- End Google Tag Manager -->
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M98D584C"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-title">
              {% if page.url != "/" %}<a href="/">Nick Quinn</a>{% endif %}
              {% if page.url === "/" %}Nick Quinn{% endif %}
            </div>
            <nav area-label="main">
              <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/stuff">Stuff</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      {# <p class="sans-meta-text"><a class="secret-link" href="/">JLORD — OPEN WEB DEVELOPER—DESIGNER</a></p>
      <h1>{% if page.url === "/" %}<img class="hero-img" src="assets/imgs/hello3.png" alt="hello!">{% else %}{{ title }}{% endif %}</h1> #}
    </header>

    <main class="page-body">
        <article>
            {{ content | safe }}
        </article>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12">
            © Nick Quinn 2021
            <a href="javascript:void(0);" onclick="showConsentModal(); return false;" rel="nofollow">Manage cookies</a>
            <a href="/feed.xml">RSS</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="cookie-consent-cover" class="cookie-consent-cover">
    </div>

    <div id="cookie-consent-banner" class="cookie-consent-banner">
      <div class="consent-content">
        <h2>Use of cookies</h2>
        <p>I'd like to set cookies so I can see who has visited the site and understand what content is interesting. The data I collect is anonymous. If that's okay with you press 'accept selection', or you can customise whcih cookies you agree to first.</p>
        
        <button id="btn-customise-cookies" class="cookie-consent-button btn-outline">Manage cookies</button>
        <button id="btn-accept-all" class="cookie-consent-button btn">Accept</button>
      </div>
    </div>

    <!-- Cookie consent modal html with options to reject or accept with checkboxes -->
    <div id="cookie-consent-modal">
      <div class="cookie-consent-modal-content">
        <h2>Cookie settings</h2>
        <p>I'd like to set cookies so I can see who has visited the site and understand what content is interesting. The data I collect is anonymous. If that's okay with you press 'accept selection', or you can customise whcih cookies you agree to first.</p>
        <div class="cookie-consent-options">
          <label><input id="consent-necessary" type="checkbox" value="Necessary" checked disabled>Necessary</label>
          <label><input id="consent-analytics" type="checkbox" value="Analytics" checked>Analytics</label>
          {# <label><input id="consent-marketing" type="checkbox" value="Marketing">Marketing</label> #}
        </div>
        <button id="btn-accept-cookie-selection" class="cookie-consent-button btn-outline">Accept Selection</button>
      </div>
    </div>
<script>
  
  function hideBanner() {
    document.getElementById('cookie-consent-banner').classList.remove('visible');
    document.getElementById('cookie-consent-cover').classList.remove('visible');
  }

  function hideConsentModal() {
    document.getElementById('cookie-consent-modal').classList.remove('visible');
    document.getElementById('cookie-consent-cover').classList.remove('visible');
  }

  document.getElementById('btn-customise-cookies').addEventListener('click', function() {
    hideBanner();
    showConsentModal();
  });

  document.getElementById('btn-accept-all').addEventListener('click', function() {
    setConsent({
      necessary: true,
      analytics: true,
      //preferences: true,
      //marketing: true
    });
    hideBanner();
    hideConsentModal();
  });

  document.getElementById('btn-accept-cookie-selection').addEventListener('click', function() {
    setConsent({
      necessary: true,
      analytics: document.getElementById('consent-analytics').checked,
      //preferences: false,
      //marketing: false
    });
    hideBanner();
    hideConsentModal();
  });
    

  if(localStorage.getItem('consentMode') === null) {
    document.getElementById('cookie-consent-banner').classList.add('visible');
    document.getElementById('cookie-consent-cover').classList.add('visible');
  } else {
    hideBanner();
  }
  
  function setConsent(consent) {
    const consentMode = {
      'functionality_storage': consent.necessary ? 'granted' : 'denied',
      'security_storage': consent.necessary ? 'granted' : 'denied',
      'ad_storage': consent.marketing ? 'granted' : 'denied',
      'analytics_storage': consent.analytics ? 'granted' : 'denied',
      'personalization': consent.preferences ? 'granted' : 'denied',
    };
    gtag('consent', 'update', consent);  
    localStorage.setItem('consentMode', JSON.stringify(consentMode));
  }

  function showConsentBanner() {
    document.getElementById('cookie-consent-banner').classList.add('visible');
    document.getElementById('cookie-consent-cover').classList.add('visible');
  }

  function showConsentModal() {
    document.getElementById('cookie-consent-modal').classList.add('visible');
    document.getElementById('cookie-consent-cover').classList.add('visible');

    if(localStorage.getItem('consentMode') === null) {
      document.getElementById('consent-analytics').checked = true;
    } else {
      const consentMode = JSON.parse(localStorage.getItem('consentMode'));
      document.getElementById('consent-analytics').checked = consentMode.analytics_storage === 'granted';
    }
  }
  
</script>

    </div>{# wrapper div #}
  </body>
</html>