---
layout: base.njk
title: About me
---

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>About me</h1>

            <p>
                I started building websites way back in the glory days of 
                Geocities, Windows 95 and Netscape Navigator, where I learnt 
                how important it was to have a good under construction GIF and 
                a visitor counter. There began a love of building things for 
                the young internet, and a passion for software development.
            </p>
            <p>
                These days I'm mostly found working with .NET, React and Next.js, 
                building enterprise and consumer facing web applications.
            </p>
        </div>
        <div class="col-4">
            <img src="/assets/images/me.jpg" alt="Me" class="rounded-circle">
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h2>Technologies I work with</h2>
            <p>By no means an exhaustive list but some of the core technologies I work with on a daily basis.</p>
            <ul>
                <li>C#</li>
                <li>ASP.NET Core</li>
                <li>React</li>
                <li>Next.js</li>
                <li>SQL Server</li>
                <li>PostgreSQL</li>
                <li>Redis</li>
                <li>Git</li>
            </ul>
        </div>
    </div>
</div>