---
layout: base.njk
title: About me
description: "Nick Quinn is a UK-based programmer, technologist, and tinkerer who specialises in web application development."
---

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>About me</h1>

            <p>
                My name is Nick Quinn, and I'm a UK-based 
                <a 
                    href="https://github.com/nickyquinn/" 
                    rel="nofollow noreferrer" 
                    target="_blank">programmer</a>, 
                technologist, team leader, and tinkerer with over 15 years of 
                experience in web application development.
            </p>
            <p>
                I've worked with a wide range of technologies and languages over the years, 
                from PHP and Ruby to VB.NET and JavaScript. I starting out building  
                websites in the days of tables, spacer gifs, 
                <a 
                    href="https://en.wikipedia.org/wiki/Netscape_Navigator" 
                    rel="nofollow noreferrer" 
                    target="_blank">Netscape Navigator</a> and 
                Internet Explorer 5, working on 
                <a 
                    href="https://en.wikipedia.org/wiki/BBC_Micro" 
                    rel="nofollow noreferrer" 
                    target="_blank">BBC Micro</a> and Acorn computers, and 
                eventually finding my way to Windows and later, Linux.
            <p>
                These days I'm mostly found working with .NET and ReactJS, 
                building enterprise and consumer facing web applications.
            </p>
        </div>
        <div class="col-4">
            <img src="/assets/images/me.jpg" alt="Me" class="rounded-circle">
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h2>Technologies</h2>
            <p>By no means an exhaustive list but some of the core technologies I work with include:</p>
            <ul>
                <li>C# ASP.NET</li>
                <li>JavaScript / TypeScript</li>
                <li>ReactJS / NextJS</li>
                <li>SQL Server / Postgres / MySQL</li>
                <li>Redis</li>
                <li>AWS</li>
                <li>Linux</li>
                <li>nginx / Apache</li>
                <li>Docker</li>
            </ul>
        </div>
    </div>
</div>