---
layout: base.njk
title: Books
description: "Books I've read."
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Books</h1>
        <p class="page-intro">Books I've read.</p>
        <ul>
          <li><a href="/posts/2026-books">2026</a></li>
          <li><a href="/posts/2023-books">2023</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
