---
layout: base.njk
title: Nick Quinn - full stack developer from UK
---

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Hi, I'm Nick, a full-stack web developer from <a href="https://en.wikipedia.org/wiki/Hertfordshire">Herts, UK</a>.</h1>

            <p>I'm a full-stack web developer with a passion for building things. I've been working in the industry for over 10 years, and have worked on a wide range of projects, from small brochure sites to large-scale web applications.</p>

            <h2>Where to find me</h2>
            <ul>
                <li><a href="https://github.com/nickyquinn" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>