---
layout: base.njk
title: Full stack web developer in Herts, UK
description: Nick Quinn is a full-stack web developer based in Herts, UK. He specialises in building websites and web applications.
---

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Hi, I'm <a href="/about">Nick</a>, a full-stack web developer from Herts, UK.</h1>

            <h2>Where to find me</h2>
            <ul>
                <li><a href="https://github.com/nickyquinn" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>